@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Shoot Tracker</h1>
    <p>Log, Track, Edit and Delete video shoots by Projects, Locations, Shots or Cameras.</p>
</div>