@model List<Shoot>

<h3>Shot List</h3>

<table class="table">
   <tr>
       <th>ID</th>
       <th>Good</th>
       <th>ShotName</th>
       <th>Take</th>
       <th>InTimeCode</th>
       <th>OutTimeCode</th>
       <th>Duration</th>
       <th>Audio01</th>
       <th>Audio02</th>
       <th>Duration</th>
       <th>Comments</th>
       <th>ProjectID</th>
  </tr>

@foreach(Shoot shot in Model)
{
   <tr>
       <td>@shot.ID</td>
       <td>@shot.Good</td>
       <td>@shot.ShotName</td>
   </tr>
}
</table>