@model List<Project>

<h3>Projects</h3>

<div style="display: block">
        <a href="/Shoot/CreateProject">Create a New Project</a>

    </div>

<table class="table">
    <tr>
        <th align="left">Project ID</th>
        <th align="left">Project Name</th>
        <th align="left">Shoot Date</th>
    </tr>

@foreach (var project in Model)
{
    <tr>
        <td align="left">@project.ProjectID</td>
        <td align="left"><a href=Project/ViewProject/@project.ProjectID>@project.ProjectName</td>
        <td align="left">@project.ShootDate</td>
        <td>
           <form asp-action="DeleteProject" asp-controller="Shoot" method="post">
                <input name="projectToDelete" type="hidden" value="@project.ProjectID" />
               
                <input type="submit" onclick="confirm('Are you sure?')" value="Delete" class="btn btn-primary"/> 
           </form>
        </td>
    </tr>
}

</table>